{erl_opts, [debug_info]}.
{deps, [{lager, "3.9.2"},
        recon,
        folsom,
        {jsx, "3.0.0"},
        {dns_erlang, ".*", {git, "https://github.com/dnsimple/dns_erlang.git", {branch, "main"}}},
        iso8601,
        {nodefinder, "2.0.0"},
        {opentelemetry_api, "0.6.0"},
        {meck, "0.9.2"}
]}.

{relx, [{release, {erldns_full, "0.1.0"},
         [erldns,
	  erldns_admin
         ]},

        {mode, dev},

        {sys_config, "./config/erldns.config"},
        {vm_args, "./config/vm.args"},

	{overlay, [{copy, "priv/zones-example.json", "priv/zones-example.json"}]}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
